<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berrontech.dsensor.dataserver.repository.mapper.DeviceConnectionMapper">
    <sql id="columns">
        tdc.id          as dc_id,
        tdc.type        as dc_type,
        tdc.target      as dc_target,
        tdc.create_time as dc_create_time,
        tdc.update_time as dc_update_time,
        tdc.deleted     as dc_deleted
    </sql>
    <sql id="select">
        select
        <include refid="columns"/>
        from t_device_connection as tdc
        where tdc.deleted = false
    </sql>
    <resultMap id="rm_base" type="com.berrontech.dsensor.dataserver.common.entity.DeviceConnection"
               extends="com.berrontech.dsensor.dataserver.repository.AbstractMapper.rm_base">
        <id column="dc_id" property="id"/>
        <result column="dc_type" property="type"/>
        <result column="dc_target" property="target"/>
        <result column="dc_create_time" property="createTime"/>
        <result column="dc_update_time" property="updateTime"/>
        <result column="dc_deleted" property="deleted"/>
    </resultMap>
    <select id="countByTypeAndTarget" resultType="java.lang.Integer">
        select count(0)
        from t_device_connection as dc
        where dc.type = #{type}
          and dc.target = #{target}
    </select>
</mapper>