<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berrontech.dsensor.dataserver.repository.mapper.SlotMapper">
    <sql id="columns">
        s.id            as s_id,
        s.address       as s_address,
        s.slot_no       as s_slot_no,
        s.sku_no        as s_sku_no,
        s.sku_name      as s_sku_name,
        s.sku_apw       as s_sku_apw,
        s.sku_tolerance as s_sku_tolerance,
        s.sku_shelf_life_open_days as s_sku_shelf_life_open_days,
        s.sku_update_time as s_sku_update_time,
        s.has_elabel    as s_has_elabel,
        s.create_time   as s_create_time,
        s.update_time   as s_update_time,
        s.deleted       as s_deleted
    </sql>
    <sql id="select">
        select
        <include refid="columns"/>
        from t_slot as s
        where s.deleted = false
    </sql>
    <resultMap id="rm_base" type="com.berrontech.dsensor.dataserver.common.entity.Slot"
               extends="com.berrontech.dsensor.dataserver.repository.AbstractMapper.rm_base">
        <id column="s_id" property="id"/>
        <result column="s_address" property="address"/>
        <result column="s_slot_no" property="slotNo"/>
        <result column="s_sku_no" property="skuNo"/>
        <result column="s_sku_name" property="skuName"/>
        <result column="s_sku_apw" property="skuApw"/>
        <result column="s_sku_tolerance" property="skuTolerance"/>
        <result column="s_sku_shelf_life_open_days" property="skuShelfLifeOpenDays"/>
        <result column="s_sku_update_time" property="skuUpdateTime"/>
        <result column="s_has_elabel" property="hasElabel"/>
        <result column="s_create_time" property="createTime"/>
        <result column="s_update_time" property="updateTime"/>
        <result column="s_deleted" property="deleted"/>
    </resultMap>
    <update id="updateSkuInfoBySlotNo">
        update t_slot as s
        set s.sku_no= #{slot.skuNo},
            s.sku_name=#{slot.skuName},
            s.sku_apw=#{slot.skuApw},
            s.sku_tolerance=#{slot.skuTolerance},
            s.sku_shelf_life_open_days=#{slot.skuShelfLifeOpenDays},
            s.update_time=now(),
            s.sku_update_time=now()
        where s.slot_no = #{slot.slotNo}
    </update>
    <update id="updateSlotNoById">
        update t_slot as s
        set s.slot_no=#{slotNo},
            s.update_time=now()
        where id = #{id}
    </update>
    <update id="updateState">
        update t_slot as s
        set s.state=#{state},
            s.update_time=now()
        where s.id = #{id}
    </update>
    <select id="selectBySkuLike" resultMap="rm_base">
        <include refid="select"/>
        and (
        s.sku_no like #{skuNo}
        or s.sku_name like #{skuName}
        )
    </select>
    <update id="updateHasELable">
        update t_slot as s
        set s.has_elabel=#{hasElable}
        where s.id = #{id}
    </update>
    <select id="selectByAddress" resultMap="rm_base">
        <include refid="select"/>
        and s.address=#{address}
    </select>
    <update id="deleteByAddress">
        delete from t_slot where address in
        <foreach collection="addressList" item="address" separator="," open="(" close=")">
            #{address}
        </foreach>
    </update>
    <select id="selectByAddressList" resultMap="rm_base">
        <include refid="select"/>
        and
        <choose>
            <when test="addrList.size==0">
                1=2
            </when>
            <when test="addrList.size==1">
                s.address=#{addrList[0]}
            </when>
            <otherwise>
                s.address in
                <foreach collection="addrList" item="slotId" open="(" separator="," close=")">
                    #{slotId}
                </foreach>
            </otherwise>
        </choose>
    </select>
</mapper>