<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berrontech.dsensor.dataserver.repository.mapper.TemperatureHumiditySensorMapper">
    <sql id="columns">
        ths.id            as ths_id,
        ths.connection_id as ths_connection_id,
        ths.no            as ths_no,
        ths.device_sn     as ths_device_sn,
        ths.address       as ths_address,
        ths.state         as ths_state,
        ths.create_time   as ths_create_time,
        ths.update_time   as ths_update_time,
        ths.deleted       as ths_deleted
    </sql>
    <sql id="select">
        select
        <include refid="columns"/>
        from t_temperature_humidity_sensor as ths
        where ths.deleted = false
    </sql>
    <resultMap id="rm_base" type="com.berrontech.dsensor.dataserver.common.entity.TemperatureHumiditySensor"
               extends="com.berrontech.dsensor.dataserver.repository.AbstractMapper.rm_base">
        <id column="ths_id" property="id"/>
        <result column="ths_connection_id" property="connectionId"/>
        <result column="ths_no" property="no"/>
        <result column="ths_device_sn" property="deviceSn"/>
        <result column="ths_address" property="address"/>
        <result column="ths_state" property="state"/>
        <result column="ths_create_time" property="createTime"/>
        <result column="ths_update_time" property="updateTime"/>
        <result column="ths_deleted" property="deleted"/>
    </resultMap>
</mapper>