<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berrontech.dsensor.dataserver.repository.mapper.WeightSensorMapper">
    <sql id="columns">
        ws.id            as ws_id,
        ws.connection_id as ws_connection_id,
        ws.address       as ws_address,
        ws.device_sn     as ws_device_sn,
        ws.state         as ws_state,
        ws.zero_reference as ws_zero_reference,
        ws.config_str     as ws_config_str,
        ws.slot_id       as ws_slot_id,
        ws.has_elabel as ws_has_elabel,
        ws.create_time   as ws_create_time,
        ws.update_time   as ws_update_time,
        ws.deleted       as ws_deleted
    </sql>
    <sql id="select">
        select
        <include refid="columns"/>
        from t_weight_sensor as ws
        where ws.deleted = false
    </sql>
    <resultMap id="rm_base" type="com.berrontech.dsensor.dataserver.common.entity.WeightSensor"
               extends="com.berrontech.dsensor.dataserver.repository.AbstractMapper.rm_base">
        <id column="ws_id" property="id"/>
        <result column="ws_connection_id" property="connectionId"/>
        <result column="ws_address" property="address"/>
        <result column="ws_device_sn" property="deviceSn"/>
        <result column="ws_state" property="state"/>
        <result column="ws_zero_reference" property="zeroReference"/>
        <result column="ws_config_str" property="configStr"/>
        <result column="ws_slot_id" property="slotId"/>
        <result column="ws_has_elabel" property="hasElabel"/>
        <result column="ws_create_time" property="createTime"/>
        <result column="ws_update_time" property="updateTime"/>
        <result column="ws_deleted" property="deleted"/>
    </resultMap>
    <resultMap id="rm_with_all"
               type="com.berrontech.dsensor.dataserver.common.entity.WeightSensor"
               extends="rm_base">
        <association property="slot"
                     resultMap="com.berrontech.dsensor.dataserver.repository.mapper.SlotMapper.rm_base"/>
    </resultMap>
    <update id="updateState">
        update t_weight_sensor as ws
        set ws.state=#{state}
        where ws.id = #{id}
    </update>
    <update id="updateZeroReference">
        update t_weight_sensor as ws
        set ws.zero_reference=#{zeroReference}
        where ws.id = #{id}
    </update>
    <update id="updateConfigStr">
        update t_weight_sensor as ws
        set config_str=#{configStr}
        where ws.id = #{id}
    </update>
    <update id="updateHasElableBySlotId">
        update t_weight_sensor as ws
        set ws.has_elabel=#{hasElable}
        where ws.slot_id = #{slotId}
    </update>
    <select id="selectAllWithSlot" resultMap="rm_with_all">
        select
        <include refid="columns"/>,
        <include refid="com.berrontech.dsensor.dataserver.repository.mapper.SlotMapper.columns"/>
        from t_weight_sensor as ws left outer join t_slot as s on ws.slot_id=s.id where (s.deleted=false and
        ws.deleted=false)
    </select>
    <update id="updateHasElable">
        update t_weight_sensor as ws
        set ws.has_elabel=#{hasElabel}
        where ws.id = #{id}
    </update>
    <select id="selectByAddress" resultMap="rm_base">
        <include refid="select"/>
        and ws.address=#{address}
    </select>
    <update id="updateSlotIdByIds">
        update t_weight_sensor as ws set ws.slot_id=#{slotId} where ws.id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">#{id}</foreach>
    </update>
    <update id="updateSlotIdBySlotId">
        update t_weight_sensor as ws
        set ws.slot_id=#{newSlotId}
        where ws.slot_id = #{slotId};
    </update>
</mapper>