<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <property name="DEFAULT_LOG_PATTERN"
              value="[%white(%d{yyyy-MM-dd HH:mm:ss.SSS})] %blue(%-5level{5}) %blue([%-20thread{20}])-%yellow([%-40logger{40}]):%msg%n"/>
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>warn</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${DEFAULT_LOG_PATTERN}</pattern>
        </layout>
    </appender>
    <appender name="debugFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/mnt/hd0/scada_wsa/log/weight-slot-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>365</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${DEFAULT_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <logger name="com.berrontech.dsensor" level="debug"/>
    <root level="info">
        <appender-ref ref="consoleLog"/>
        <appender-ref ref="debugFile"/>
    </root>
</configuration>